html,body{
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif; 
}
.navbar{
	background-color: transparent;
	padding: 1% 0;
	font-size: 1.2em;
	/* border-color: transparent;*/
} 

.navbar-brand {
	min-height: 55px;
	padding: 0 15px 5px;
}
.navbar-default .navbar-nav li a {
color: #000000;
font-family: 'Open Sans', sans-serif; 
font-weight: bold;
}


.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active {
	color: #FF8500;	
}
#home {
	/* background-color: url(img/mountains.jpeg) no-repeat center center fixed; */
	background: linear-gradient(131.61deg, #EF435A 0%, #F05B7E 20.18%, #FF8500 72.21%, #FFCD05 100%);
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}
#Features {
	/* background-color: url(img/mountains.jpeg) no-repeat center center fixed; */
	background: linear-gradient(131.61deg, #EF435A 0%, #F05B7E 20.18%, #FF8500 72.21%, #FFCD05 100%);
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}
.macbook{
	height: 952px;
	width: 910px;
	margin-top: 100px;
	margin-left: 203px;
}
#PicturesFea{
	padding-left: 200px;
}
.rectangle {
	height: 326px;
	width: 326px;
	border-radius: 12px;
	background-color: #FFFFFF;
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.1);
}
#MainLogo{
height: 30px;
padding-top: 5px;
}
.landing-text{
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	padding: 80px 80px; ;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif; 
}
#landingTextCol6{
	width:600px;
	
}
.landing-text h1 {
	font-size: 300%;
	font-weight: 700;
	
}
.padding {
	padding: 80px 0 ;
}
.padding img {
	width: 100%;
}
.Darker{
	color: #000000;
	font-weight: bold;
	font-style: normal;
}
.DarkerW{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}
.leadW{
	color: #ffffff;
}
#fixed {
	background: url(img/background.jpg) no-repeat center center fixed;
	display: table;
	height: 60%;
	width: 100%;
	position: relative;
	height: 100%;
	background-size: cover;
}
footer {
width: 100%;
background: #ffffff;
padding: 5% 5% 10% 5%;
color: #ffffff;
}
.fa {
padding: 15px;
font-size: 25px;
color: #000000
}
.fa:hover {
	color: #d5d5d5;
	text-decoration: none;
}
.icon {
	max-width: 200px;;
}

@media(max-width:768px) {
	.landing-text h1{
		font-size: 300%;
	}
	.fa {
		font-size: 20px;
		padding: 20px;
	}
	.icon {
		padding-top: 5%;
		max-width: 100px;
	}
	.macbook{
		height: 200px;
		width: 200px;
	}
}







/*--- iOS Landing Page Fix
section {
 	position: relative;
 	width: 100%;
 	height: 100%;
 	display: table;
}
.home-wrap {
 	clip: rect(0, auto, auto, 0);
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
}
#home {
	background-image: url('img/mountains.jpeg');
 	position: fixed;
 	display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
	z-index: -1;
}
.landing-text {
	z-index: 100;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
--*/

/*--- iOS Fixed Image Fix
figure {
	position: relative;
	width: 100%;
	height: 60%;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fixed {
	background-image: url('img/background.jpg');
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
}
--*/

